<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961646061753-ri9hdbqhj0jgrh63hk1li5eofphhrrc0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961646061753-ri9hdbqhj0jgrh63hk1li5eofphhrrc0</string>
	<key>API_KEY</key>
	<string>AIzaSyDyj6w3WE77D_J_EYTYgRT-0r3AP1Y5H5k</string>
	<key>GCM_SENDER_ID</key>
	<string>961646061753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ruslandalgatov.regProjectFirebase</string>
	<key>PROJECT_ID</key>
	<string>homeproj-887bf</string>
	<key>STORAGE_BUCKET</key>
	<string>homeproj-887bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961646061753:ios:a5e4175ce94968d9611368</string>
</dict>
</plist>